<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= link_to @event.title, @event %></h5>
          <p class="card-text"><%= @event.description %></p>

          <blockquote><footer class="blockquote-footer mb-0">On @<cite title="Source Title"><%= @event.start_date %></cite></footer></blockquote>
          <blockquote><footer class="blockquote-footer mb-0">#<cite title="Source Title"><%= @event.duration%>min</cite></footer></blockquote>
          <blockquote><footer class="blockquote-footer mb-0">By :<cite title="Source Title"><%= @event.creator.email %></cite></footer></blockquote>
          
          <div class="mb-2">
            <% if admin? %>
              <%= link_to "Edit", edit_admin_event_path(@event), class:"btn btn-warning" %> 
              <%= link_to "Destroy", admin_event_path(@event), class:"btn btn-danger", data: {
                                    turbo_method: :delete,
                                    turbo_confirm: "Are you sure?"
                                  } %>
            <% end %>
          </div>

          <div class="mb-2">
            <h5 class="card-title">Attendees</h5>
            <% @event.attendees.each do |attendee| %>
              <p class="card-text"><%=link_to attendee.email, attendee %></p>
            <% end %>
          </div>

          <div class="mb-2">
            <%= link_to "Back", admin_events_path, class:"btn btn-secondary" %>
         </div>

        </div>
      </div>
    </div>
  </div>
</div>









