<div id="<%= dom_id event %>">
  <div class="col">
    <div class="card h-100 opacity-75">
      <div class="card-body">
        <h5 class="card-title"><%= link_to event.title, event %></h5>
        <p class="card-text"><%= event.description %></p>

        <blockquote><footer class="blockquote-footer mb-0">On @<cite title="Source Title"><%= event.start_date %></cite></footer></blockquote>
        <blockquote><footer class="blockquote-footer mb-0">#<cite title="Source Title"><%=event.duration%>min</cite></footer></blockquote>
        <blockquote><footer class="blockquote-footer mb-0">By :<cite title="Source Title"><%= event.creator.email %></cite></footer></blockquote>

      </div>
    </div>
  </div>
</div>